.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main > section {
  max-width: 72rem;
  margin: 5rem auto;
}
img {
  width: 100%;
  height: auto;
}

/*shared styles*/
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gray {
  color: #7a7c7f;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}
.black {
  color: black;
}
.red {
  color: #e95a08;
}
.center {
  text-align: center;
}
.red-btn {
  background-color: #e95a08;
  font-weight: bolder;
  color: #ffffff;
  border: none;
  margin: 0 auto;
  height: 2rem;
  width: 100%;
}

/*head*/
header .first-nav {
  max-width: 72rem;
  margin: 2rem auto;
}
header .right-side button {
  border: none;
  background-color: transparent;
  margin-left: 3rem;
  outline: none;
}
header .right-side button:focus {
  outline: none;
}

/*main*/

/*section one*/
.section-one .left-side h1 {
  font-size: 4rem;
  font-weight: bold;
}
main .section-one .left-side p {
  color: #7a7c7f;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}
.section-one .left-side {
  flex: 1;
}

/*section two*/
.section-two .section-content {
  text-align: center;
}
.section-two .section-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 4rem auto;
}

/*section three*/
.section-three .author-plants .author-img img {
  width: 100%;
  height: 100%;
}
.section-three .author-plants {
  position: relative;
}
.section-three .author-plants .author-img {
  position: absolute;
  transform: translate(-53%, 60%);
  left: 47%;
  top: -40%;
  max-width: 16rem;
  max-height: 16rem;
}
.section-three .author-plants .plant-content {
  flex: 1;
}
.section-three .author-plants .flower-plants {
  gap: 7rem;
}
.section-three .author-plants .plant-content h2 {
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem auto;
}
.section-three .author-plants .plant-content ul > li {
  color: #7a7c7f;
  font-size: 1rem;
  margin: 1.5rem auto;
  font-weight: 500;
}

/*section four*/
.section-four {
  text-align: center;
}
.section-four h2 {
  font-size: 3rem;
  font-weight: bold;
}

/*section five*/
.section-five .item {
  position: relative;
}
.section-five .item .item-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.section-five .item p {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}
.section-five .item button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  margin-top: 1rem;
  cursor: pointer;
}
.section-five .item button:hover {
  transition: color 0.3s ease;
  font-weight: bolder;
  font-size: large;
  box-shadow: 5px 5px 10px white;
}
.section-five {
  display: grid;
  grid-template-areas:
    "bloom zabo zabo"
    "ana zabo zabo";
  gap: 1rem;
}
.section-five .item-1 {
  grid-area: bloom;
}
.section-five .item-2 {
  grid-area: ana;
}
.section-five .item-3 {
  grid-area: zabo;
}

/*section six*/
.section-six {
  max-width: 100%;
  background-image: url("../assets/news-letter-bg.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-six .section-input {
  text-align: center;
  margin: 8rem auto;
  max-width: 43rem;
}
.section-six .section-input .input-box {
  width: 43rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin: 2rem auto;
}
.section-six .section-input .input-box > :first-child {
  flex: 2;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
}
.section-six .section-input .input-box > :last-child {
  flex: 1;
  padding: 0.5rem;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: #e95a08;
  color: white;
  cursor: pointer;
}
.section-six .section-input h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
}
