.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main > section {
  max-width: 72rem;
  margin: 5rem auto;
}
img {
  width: 100%;
  height: auto;
}

/*shared styles*/
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gray {
  color: #7a7c7f;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}
.black {
  color: black;
}
.red {
  color: #e95a08;
}
.center {
  text-align: center;
}
.red-btn {
  background-color: #e95a08;
  font-weight: bolder;
  color: #ffffff;
  border: none;
  margin: 0 auto;
  height: 2rem;
  width: 100%;
}

/*head*/
header .first-nav {
  max-width: 72rem;
  margin: 2rem auto;
}
header .right-side button {
  border: none;
  background-color: transparent;
}
header .right-side button {
  margin-left: 3rem;
}

/*main*/

/*section one*/
.section-one .left-side h1 {
  font-size: 4rem;
  font-weight: bold;
}
main .section-one .left-side p {
  color: #7a7c7f;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}
.section-one .left-side {
  flex: 1;
}

/*section two*/
.section-two .section-content {
  text-align: center;
}
.section-two .section-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 4rem auto;
}

/*section three*/
.section-three .author-plants .author-img img {
  width: 100%;
  height: 100%;
}
.section-three .author-plants {
  position: relative;
}
.section-three .author-plants .author-img {
  position: absolute;
  transform: translate(-53%, 60%);
  left: 47%;
  top: -40%;
  max-width: 16rem;
  max-height: 16rem;
}
.section-three .author-plants .plant-content {
  flex: 1;
}
.section-three .author-plants .flower-plants {
  gap: 7rem;
}
.section-three .author-plants .plant-content h2 {
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem auto;
}
.section-three .author-plants .plant-content ul > li {
  color: #7a7c7f;
  font-size: 1rem;
  margin: 1.5rem auto;
  font-weight: 500;
}
